/*** UTILITIES ***/
/*** BASE***/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: grey;
  font-family: "Roboto", sans-serif;
  height: 100%;
}

main {
  height: 100%;
}

body {
  display: grid;
  grid-template-rows: 80px 1fr 1fr;
  height: 100%;
}

/***LAYOUT***/
header {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
header nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  width: 100%;
  position: sticky;
  z-index: 45;
}
header nav .toggle_navbar {
  display: none;
  position: absolute;
  width: 100%;
}
header nav .toggle_navbar li {
  list-style: none;
  padding: 10px;
  padding-bottom: 15px;
  width: 85%;
  text-align: center;
  border: 1px solid white;
  margin: 5px;
  transition-duration: 0.2s;
}
header nav .toggle_navbar li:hover {
  filter: brightness(75%);
  transform: scale(1.1);
}
header nav .toggle_navbar li a {
  text-decoration: none;
  color: white;
  font-family: "Roboto", sans-serif;
}
header nav label {
  position: absolute;
  right: 10px;
  width: 45px;
}
header nav label img {
  width: 40px;
}

#toggle {
  display: none;
}

#toggle:checked ~ .toggle_navbar {
  background-color: black;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  top: 84px;
  z-index: 1;
}

.logo_navbar img {
  width: 80px;
}

.toogle_navbar {
  display: none;
}

.banner {
  max-width: 100%;
  height: 300px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url("../img/img_banner1") "../img/img_banner1.png";
}
.banner h2 {
  color: white;
  position: absolute;
  top: 200px;
  z-index: 5;
  font-size: 16px;
}

.img_banner {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  filter: brightness(60%);
}

.logo_banner {
  width: 100px;
  position: absolute;
  top: 20px;
  animation-name: caer;
  animation-duration: 0.4s;
}

@keyframes caer {
  0% {
    top: 0;
  }
  10% {
    top: 2px;
  }
  20% {
    top: 4px;
  }
  30% {
    top: 6px;
  }
  40% {
    top: 8px;
  }
  50% {
    top: 10px;
  }
  60% {
    top: 12px;
  }
  70% {
    top: 14px;
  }
  80% {
    top: 16px;
  }
  90% {
    top: 18px;
  }
  100% {
    top: 20px;
  }
}
.contenedor_cards_1 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex-grow: 100%;
  gap: 10px;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: white;
}

.card_1 {
  background-color: white;
  border: 1px solid black;
  width: 90%;
  height: 80px;
  margin-top: 10px;
  border-radius: 15px;
  box-shadow: 0px 0px 10px grey;
}
.card_1 img {
  width: 50px;
}

/***COMPONENTS***/
/***MEDIA***/
@media only screen and (min-width: 768px) {
  header nav .toggle_navbar {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    right: 10px;
    width: 60%;
    gap: 25px;
  }
  header nav .toggle_navbar li {
    border: none;
    padding: 0;
    width: auto;
    gap: 25px;
  }
  header nav label {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
